/*a {
    color: #569856;
    text-decoration: none;
}*/

/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

button {
    display: inline-block;
    margin: 5px;
}

a {
    text-decoration: none;
    color: #333;
}
