<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/styles.css" rel="stylesheet" />
    <title>Create Movie</title>
</head>

<body>
<h1>Create movie</h1>

<form action="/movie/create" method="post">
    <label>Title: <input type="text" name="title" required/></label>
    <label>Description: <input type="text" name="description" required/></label>
    <button type="submit">Submit</button>
</form><br>

<!--<form action="/movie/upload" method="post">
    <button><a href=""></a></button>
    <button type="submit">Upload</button>
</form>-->

<button><a href="/movie">Back to list</a></button>

</body>

</html>