<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/styles.css" rel="stylesheet" />
    <title>Create Movie</title>
</head>

<body>
<h1>Create movie</h1>

<form action="/movie/create" method="post">
    <label>Title: <input type="text" name="title"/></label>
    <label>Description: <input type="text" name="description"/></label>
    <button type="submit">Submit</button>
</form><br>

<button><a href="/movie">Back to list</a></button>

</body>

</html>