<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/styles.css" rel="stylesheet" />
    <title>Movie</title>
</head>
<body>
<h1>Movie detail</h1>
<h2>Title: {{movie.title}}</h2>
<div>Description: {{movie.description}}</div><br>
<button><a href="/movie">Back to list</a></button>
</body>
</html>